.exports-section {
    margin-bottom: 25px;
}
.exports-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.export-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.export-card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.export-card__img > img {
    border: 2px solid var(--main-dark);
    width: 100%;
    border-radius: 18px;
}
.export-card__content {
    width: 75%;
}
.export-card__content--name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
