.footer-section {
    background: var(--main-blue);
    padding-bottom: 100px;
    width: 100%;
}
.footer {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.footer__left {
    color: var(--main-light);
}
.footer__right > p {
    color: var(--main-light);
}