*{
    margin: 0;
}
.hero {
    
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero-top {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.hero__left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.hero__left > button {
    width: 100%;
}

.hero__left--pattern > img {
    position: absolute;
    width: 100px;
    right: 30px;
    top: 40px;
}
.hero__right img {
    width: 100%;
}
.hero__right--content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero__right--content > img {
    width: 100%;
    border-radius: 12px;
    border: 2px solid var(--main-dark);
}

.hero__right--actives {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero-info {
    display: flex;
    justify-content: space-between;
}
/* flex css */
@media only screen and (min-width: 600px) {
    .hero-top {
        padding-top: 50px;
        flex-direction: row;
    }
    .hero__left {
        justify-content: center;
        width: 60%;
    }
    .hero__right {
        padding: 50px;
        width: 40%;
    }
}
  