.header {
    background: var(--main-dark);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 25px 50px;
    padding: 10px;
    border-radius: 50px;
    gap: 10px;
    z-index: 1;
}
.header__nav-link path {
    stroke: var(--main-light)!important;
}
.header-pc {
    display: none;
}

.header__logo > a {
    font-size: 24px;
    color: var(--main-blue);
    font-weight: 600;
    text-decoration: none;
}

.header__nav {
    display: inline-block;
    width: 100%;
    transition: all 0.2s ease;
}
.active-nav {
    transition: all 0.2s ease;
    background-color: #ffffff51;
    padding: 5px 15px;
    border-radius: 50px;
}
.header__nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.header__nav-item {
    display: flex;

    align-items: center;
    justify-content: center;
}

.header__nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-dark);
    text-decoration: none;
}

.header__nav-link:hover {
    text-decoration: underline;
}


/* PC navbar */


.header-pc {
    position: fixed;
    bottom: 0;
    padding: 25px 0px;
    margin: auto 0;
    z-index: 1; 
    background: none;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.navbar-pc__container {
    background-color: var(--main-dark);
    padding: 5px 52px;
    border-radius: 50px;
    gap: 25px;
}
.navbar-pc__list {
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-pc__list a {
    font-size: 18px;
    font-weight: 500;
    color: var(--main-light);
}

.navbar-pc__container ul{
    list-style: none;
}
.navbar-pc__item {
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    padding: 15px;
    list-style: none;
}
.navbar-pc__item:hover {
    cursor: pointer;
    background: #ffffff6a;
}
.navbar-pc__item--logo {
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    padding: 15px;
    list-style: none;
}
.navbar-pc__item--logo > a {
    color: var(--main-blue);
}
/* Flex css */

@media only screen and (min-width: 600px) {
    .header {
        display: none;
    }
    .header-pc {
        display: flex;
    }
  }
  