.packages-section {
    padding-top: 100px;
    padding-bottom: 520px;
    position: relative;
}

.packages-content {
    position: relative;
}

.packages-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.packages-list {
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
}
.package-card__title {
    padding: 10px 25px;
}
.package-card__active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.package-card__list {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 0;
    overflow-y: scroll;
    scrollbar-width: thin; 
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0); 
    transition: max-height 0.3s ease;
}

.package-card__list.open {
    max-height: 150px; 
}

.package-card__img > img {
    width: 100%;
}

.popup {
    z-index: 5;
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000040;
}

.popup-content {
    padding: 50px;
}

.package-card__1 {
    transition: all 0.2s ease-in-out;
}

.package-card__1:hover {
    cursor: url('./Images/pointer_1.svg'), auto;
    transform: translateY(-10px);
}

.package-card__2 {
    background: #FFD747!important;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.package-card__2:hover {
    cursor: url('./Images/pointer_1.svg'), auto;
    transform: translateY(-10px) scale(1.1);
}

.package-card__3 {
    background: #A7A7F0!important;
    transition: all 0.2s ease-in-out;
}

.package-card__3:hover {
    cursor: url('./Images/pointer_1.svg'), auto;
    transform: translateY(-10px);
}

@media (width < 750px) {
    .packages-list {
        flex-direction: column;
        position: relative;
        margin: 0px 10px;
    }

    .packages-section {
        padding-bottom: 25px;
    }
    .package-card__2 {
        transform: scale(1);
    }
}