.psinfo-section {
    position: relative;
}

.psinfo-title {
    text-align: center;
    margin-bottom: 50px;
}

.psinfo-list {
    display: flex;
    gap: 56px;
}

.psinfo-list--cards {
    display: flex;
    gap: 56px;
}

.psinfo-list__card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    width: 40%;

    background: var(--main-light);
    border-radius: 34px;
    border: 4px solid var(--main-dark);
}

.psinfo-list__img {
    width: 100%;    
    background: var(--main-light);
    border-radius: 34px;
    border: 4px solid var(--main-dark);
}