.product-section {
    margin-bottom: 100px;
}

.product-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    border: 2px solid var(--main-dark);
    box-shadow: 0px 4px 0px 0px var(--main-dark);
}

.product-card__img {
    height: 200px;

} 

.product-card__img > img {
    
    border-bottom: 2px solid var(--main-dark);
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.product-card__text {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
