.product-section {
    background: var(--main-light);
}
.product-content {
    padding: 100px 0px;
}
.product-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.product-filter__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
}

.product-card {
    flex: 0 1 calc(50% - 25px);
}
.product-card__top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card__top > img {
    width: 100%;
    border-radius: 33px 33px 0px 0px ;
}

.product-card__content {
    padding: 35px;
    gap: 35px;
    display: flex;
    flex-direction: column;
}

.product-card__content--btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}