.product-section {
    background: var(--main-light);
}
.product-content {
    padding: 100px 0px;
}
.product-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.product-filter__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.product-cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
}

.product-card {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 calc(50% - 25px);
    justify-content: space-between;
}
.product-card__carousel {
    position: relative;
}
.product-card__top {
    border-radius: 33px 33px 0px 0px;
    display: flex;
    justify-content: start;
    border-bottom: 5px solid var(--main-dark);
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
}

.product-card__top > img {
    width: 100%;
    object-fit: cover;
}
.product-card__top > video {
    width: 100%;
    object-fit: cover;
}

.product-card__content {
    position: relative;
    padding: 35px;
}

.product-card__content--txt {
    gap: 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.product-card__carousel--control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding: 0px 25px;
    position: absolute;
    bottom: -20px;
}

.product-card__content--btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (width < 750px) {
    .product-cards {
        flex-direction: column;
        padding: 0px 10px;
    }
    .product-filter {
        overflow-x: scroll;
    }
    .product-filter__list {
        justify-content: start;
        padding-left: 10px;
        padding-top: 10px;
    }
}