/* importing font */

/* importing css */

@import url(./style/Navbar.css);
@import url(./style/Bilboard.css);
@import url(./style/Hero.css);
@import url(./style/About.css);
@import url(./style/ProblemSolution.css);
@import url(./style/Blog.css);
@import url(./style/Products.css);
@import url(./style/Footer.css);
@import url(./style/Programs.css);
@import url(./style/Packages.css);

@font-face {
  font-family: 'ClashDisplay';
  src: url(./Fonts/ClashDisplay-Variable.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ClashDisplay', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #F4EDDC;
  cursor: url('./Images/auto_1.svg'), auto;
  
}
hr {
  height: 5px;
  background: var(--main-dark);
  border: 1px solid var(--main-dark);
}
:root  {
  --main-blue: #5C5CBC;
  --main-oragne: #EB9E47;
  --main-dark: #24242E;
  --main-light: #f3f3fa;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* Text style */

h1 {
  color: var(--main-dark, #24242E);
  font-family: "ClashDisplay",sans-serif ;
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-size: 48px;
  font-weight: 600;
  font-family: 'ClashDisplay', sans-serif;
  color: var(--main-dark);
}
h3 {
  font-size: 28px;
  font-weight: 600;
  font-family: 'ClashDisplay', sans-serif;
  color: var(--main-dark);
}

p {
  font-weight: 500;
  font-size: 18px;
  font-family: 'ClashDisplay', sans-serif;
  color: var(--main-dark);
}

a {
  text-decoration: none;
  color: var(--main-dark);
  
}
a:hover {
  cursor: url('./Images/pointer_1.svg'), auto;
}

/* button style */

button {
  background: none;
  border: none;
  text-align: start;
  cursor: url('./Images/pointer_1.svg'), auto;
}
.btn {
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: url('./Images/pointer_1.svg'), auto;
  transition: all 0.2s ease-in-out;
}

.btn-primary {
  padding: 10px 20px;
  background: var(--main-dark);
  color: var(--main-light, #E9E9F6);
  font-family: "ClashDisplay";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 50px;
  border: 4px solid var(--main-dark);
}

.btn-ctrl {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  border: 4px solid var(--main-dark);
  background-color: var(--main-light);
  transition: all 0.2s ease-in-out;
}

.btn-ctrl:hover {
  background: var(--main-dark);
  transform: translateY(-5px);
}

.btn-ctrl:active {
  transform: translateY(2px);
}

.btn-ctrl:hover path{
  stroke: var(--main-light)!important;
}

.btn-primary:hover {
  transform: translateY(-5px);
  background: var(--main-light);
  color: var(--main-dark);
}

.btn-primary path {
  stroke: var(--main-light)!important;
}
.btn-primary:hover path {
  stroke: var(--main-dark)!important;
}


.btn-secondary {
  padding: 10px 20px;
  background: var(--main-light);
  color: var(--main-dark, #E9E9F6);
  font-family: "ClashDisplay";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 50px;
  border: 4px solid var(--main-dark);
}
.btn-secondary.active {
  background: var(--main-dark);
  color: var(--main-light, #E9E9F6);
}

.btn-secondary:hover {
  transform: translateY(-5px);
  background: var(--main-dark);
  color: var(--main-light);
}
.btn-empt {
  background: none;
  color: var(--main-dark);
  font-family: "ClashDisplay";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 50px;
}
/* box-style */

.def-box {
  border-radius: 36px;
  border: 5px solid var(--main-dark, #24242E);
  background: var(--main-light, #E9E9F6);

  /* def-box */
  box-shadow: 0px 11px 0px 0px var(--main-dark, #24242E);
}

.card--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 0px;
  width: 100%;
}

.card-top hr {
  width: 100%;
  height: 2px;
  background: var(--main-dark, #24242E);
  border: #24242E;
}
@media (width < 1300px) { 
  hr{
    height: 3px;
    border: 1px solid var(--main-dark);
  }
  .container {
    width: 980px;
    padding: 0;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 28px;
  }
  p {
    font-size: 14px;
  }
}
@media (width < 750px) { 
  hr{
    height: 3px;
    border: 1px solid var(--main-dark);
  }
  .container {
    width: 100%;
    padding: 0;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 28px;
  }
  p {
    font-size: 14px;
  }
}
