/* importing font */

/* importing css */

@import url(./style/Navbar.css);
@import url(./style/Bilboard.css);
@import url(./style/Hero.css);
@import url(./style/About.css);
@import url(./style/ProblemSolution.css);
@import url(./style/Products.css);
@import url(./style/Footer.css);
@import url(./style/Programs.css);
@import url(./style/Packages.css);

@font-face {
  font-family: 'ClashDislpay';
  src: url(./Fonts/ClashDisplay-Variable.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ClashDislpay', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #F4EDDC;
}
hr {
  height: 5px;
  background: var(--main-dark);
  border: 1px solid var(--main-dark);
}
:root  {
  --main-blue: #5C5CBC;
  --main-oragne: #EB9E47;
  --main-dark: #24242E;
  --main-light: #E9E9F6;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* Text style */

h1 {
  color: var(--main-dark, #24242E);
  font-family: "ClashDislpay",sans-serif ;
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-size: 48px;
  font-weight: 600;
  font-family: 'ClashDislpay', sans-serif;
  color: var(--main-dark);
}
h3 {
  font-size: 28px;
  font-weight: 600;
  font-family: 'ClashDislpay', sans-serif;
  color: var(--main-dark);
}

p {
  font-weight: 500;
  font-size: 18px;
  font-family: 'ClashDislpay', sans-serif;
  color: var(--main-dark);
}

a {
  text-decoration: none;
  color: var(--main-dark);
  
}


/* button style */

button {
  background: none;
  border: none;
  text-align: start;
  cursor: pointer;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-primary {
  background: var(--main-dark);
  color: var(--main-light, #E9E9F6);
  font-family: "Clash Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 50px;
  border: 4px solid var(--main-dark);
}

.btn-primary:hover {
  transform: translateY(-5px);
  background: var(--main-light);
  color: var(--main-dark);
}

.btn-primary path {
  stroke: var(--main-light)!important;
}
.btn-primary:hover path {
  stroke: var(--main-dark)!important;
}
/* box-style */

.def-box {
  border-radius: 36px;
  border: 5px solid var(--main-dark, #24242E);
  background: var(--main-light, #E9E9F6);

  /* def-box */
  box-shadow: 0px 11px 0px 0px var(--main-dark, #24242E);
}

.card--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 0px;
  width: 100%;
}

.card-top hr {
  width: 100%;
  height: 2px;
  background: var(--main-dark, #24242E);
  border: #24242E;
}



